{
	"version": 10,
	"include": [
		"../common/CMakePresets.json"
	],
	"configurePresets": [
		{
			"name": "windows-default",
			"inherits": [
				"default"
			],
			"hidden": true,
			"description": "Base preset for Windows configurations",
			"condition": {
				"type": "equals",
				"lhs": "${hostSystemName}",
				"rhs": "Windows"
			},
			"architecture": {
				"value": "x64",
				"strategy": "external"
			}
		},
		{
			"name": "windows-ninja-msvc",
			"displayName": "Ninja MSVC",
			"description": "Ninja Multi-Config generator with Microsoft Visual C++ (MSVC)",
			"generator": "Ninja Multi-Config",
			"inherits": [
				"windows-default"
			],
			"cacheVariables": {
				"CMAKE_C_COMPILER": "cl",
				"CMAKE_CXX_COMPILER": "cl"
			},
			"vendor": {
				"microsoft.com/VisualStudioSettings/CMake/1.0": {
					"intelliSenseMode": "windows-msvc-x64"
				}
			}
		},
		{
			"name": "windows-ninja-clang",
			"displayName": "Ninja Clang",
			"description": "Ninja Multi-Config generator with Clang (clang-cl)",
			"generator": "Ninja Multi-Config",
			"inherits": [
				"windows-default"
			],
			"cacheVariables": {
				"CMAKE_C_COMPILER": "clang-cl",
				"CMAKE_CXX_COMPILER": "clang-cl"
			},
			"vendor": {
				"microsoft.com/VisualStudioSettings/CMake/1.0": {
					"intelliSenseMode": "windows-clang-x64"
				}
			}
		},
		{
			"name": "windows-msbuild-msvc",
			"displayName": "MSBuild MSVC",
			"description": "Visual Studio 18 2026 generator with Microsoft Visual C++ (MSVC)",
			"generator": "Visual Studio 18 2026",
			"architecture": {
				"value": "x64",
				"strategy": "set"
			},
			"inherits": [
				"windows-default"
			]
		},
		{
			"name": "windows-msbuild-clang",
			"displayName": "MSBuild Clang",
			"description": "Visual Studio 18 2026 generator with Clang (clang-cl)",
			"generator": "Visual Studio 18 2026",
			"architecture": {
				"value": "x64",
				"strategy": "set"
			},
			"inherits": [
				"windows-default"
			],
			"toolset": "ClangCL"
		}
	],
	"buildPresets": [
		{
			"name": "windows-default",
			"hidden": true,
			"inherits": [
				"default"
			],
			"condition": {
				"type": "equals",
				"lhs": "${hostSystemName}",
				"rhs": "Windows"
			}
		},
		{
			"name": "windows-ninja-msvc-release",
			"displayName": "Ninja MSVC Release",
			"configurePreset": "windows-ninja-msvc",
			"configuration": "Release",
			"inherits": [
				"windows-default"
			]
		},
		{
			"name": "windows-ninja-msvc-development",
			"displayName": "Ninja MSVC Development",
			"configurePreset": "windows-ninja-msvc",
			"configuration": "Development",
			"inherits": [
				"windows-default"
			]
		},
		{
			"name": "windows-ninja-msvc-debug",
			"displayName": "Ninja MSVC Debug",
			"configurePreset": "windows-ninja-msvc",
			"configuration": "Debug",
			"inherits": [
				"windows-default"
			]
		},
		{
			"name": "windows-ninja-clang-release",
			"displayName": "Ninja Clang Release",
			"configurePreset": "windows-ninja-clang",
			"configuration": "Release",
			"inherits": [
				"windows-default"
			]
		},
		{
			"name": "windows-ninja-clang-development",
			"displayName": "Ninja Clang Development",
			"configurePreset": "windows-ninja-clang",
			"configuration": "Development",
			"inherits": [
				"windows-default"
			]
		},
		{
			"name": "windows-ninja-clang-debug",
			"displayName": "Ninja Clang Debug",
			"configurePreset": "windows-ninja-clang",
			"configuration": "Debug",
			"inherits": [
				"windows-default"
			]
		},
		{
			"name": "windows-msbuild-msvc-release",
			"displayName": "MSBuild MSVC Release",
			"configurePreset": "windows-msbuild-msvc",
			"configuration": "Release",
			"inherits": [
				"windows-default"
			]
		},
		{
			"name": "windows-msbuild-msvc-development",
			"displayName": "MSBuild MSVC Development",
			"configurePreset": "windows-msbuild-msvc",
			"configuration": "Development",
			"inherits": [
				"windows-default"
			]
		},
		{
			"name": "windows-msbuild-msvc-debug",
			"displayName": "MSBuild MSVC Debug",
			"configurePreset": "windows-msbuild-msvc",
			"configuration": "Debug",
			"inherits": [
				"windows-default"
			]
		},
		{
			"name": "windows-msbuild-clang-release",
			"displayName": "MSBuild Clang Release",
			"configurePreset": "windows-msbuild-clang",
			"configuration": "Release",
			"inherits": [
				"windows-default"
			]
		},
		{
			"name": "windows-msbuild-clang-development",
			"displayName": "MSBuild Clang Development",
			"configurePreset": "windows-msbuild-clang",
			"configuration": "Development",
			"inherits": [
				"windows-default"
			]
		},
		{
			"name": "windows-msbuild-clang-debug",
			"displayName": "MSBuild Clang Debug",
			"configurePreset": "windows-msbuild-clang",
			"configuration": "Debug",
			"inherits": [
				"windows-default"
			]
		}
	],
	"testPresets": [
		{
			"name": "windows-default",
			"hidden": true,
			"condition": {
				"type": "equals",
				"lhs": "${hostSystemName}",
				"rhs": "Windows"
			},
			"inherits": [
				"default"
			]
		},
		{
			"name": "windows-ninja-msvc-debug",
			"displayName": "Ninja MSVC Debug",
			"configurePreset": "windows-ninja-msvc",
			"inherits": [
				"windows-default"
			],
			"configuration": "Debug"
		},
		{
			"name": "windows-ninja-msvc-development",
			"displayName": "Ninja MSVC Development",
			"configurePreset": "windows-ninja-msvc",
			"inherits": [
				"windows-default"
			],
			"configuration": "Development"
		},
		{
			"name": "windows-ninja-msvc-release",
			"displayName": "Ninja MSVC Release",
			"configurePreset": "windows-ninja-msvc",
			"inherits": [
				"windows-default"
			],
			"configuration": "Release"
		},
		{
			"name": "windows-ninja-clang-debug",
			"displayName": "Ninja Clang Debug",
			"configurePreset": "windows-ninja-clang",
			"inherits": [
				"windows-default"
			],
			"configuration": "Debug"
		},
		{
			"name": "windows-ninja-clang-development",
			"displayName": "Ninja Clang Development",
			"configurePreset": "windows-ninja-clang",
			"inherits": [
				"windows-default"
			],
			"configuration": "Development"
		},
		{
			"name": "windows-ninja-clang-release",
			"displayName": "Ninja Clang Release",
			"configurePreset": "windows-ninja-clang",
			"inherits": [
				"windows-default"
			],
			"configuration": "Release"
		},
		{
			"name": "windows-msbuild-msvc-debug",
			"displayName": "MSBuild MSVC Debug",
			"configurePreset": "windows-msbuild-msvc",
			"inherits": [
				"windows-default"
			],
			"configuration": "Debug"
		},
		{
			"name": "windows-msbuild-msvc-development",
			"displayName": "MSBuild MSVC Development",
			"configurePreset": "windows-msbuild-msvc",
			"inherits": [
				"windows-default"
			],
			"configuration": "Development"
		},
		{
			"name": "windows-msbuild-msvc-release",
			"displayName": "MSBuild MSVC Release",
			"configurePreset": "windows-msbuild-msvc",
			"inherits": [
				"windows-default"
			],
			"configuration": "Release"
		},
		{
			"name": "windows-msbuild-clang-debug",
			"displayName": "MSBuild Clang Debug",
			"configurePreset": "windows-msbuild-clang",
			"inherits": [
				"windows-default"
			],
			"configuration": "Debug"
		},
		{
			"name": "windows-msbuild-clang-development",
			"displayName": "MSBuild Clang Development",
			"configurePreset": "windows-msbuild-clang",
			"inherits": [
				"windows-default"
			],
			"configuration": "Development"
		},
		{
			"name": "windows-msbuild-clang-release",
			"displayName": "MSBuild Clang Release",
			"configurePreset": "windows-msbuild-clang",
			"inherits": [
				"windows-default"
			],
			"configuration": "Release"
		}{% if use_benchmarks %},
		{
			"name": "windows-ninja-msvc-bench-release",
			"displayName": "Ninja MSVC Bench Release",
			"configurePreset": "windows-ninja-msvc",
			"inherits": [
				"default-bench",
				"windows-default"
			],
			"configuration": "Release"
		},
		{
			"name": "windows-ninja-clang-bench-release",
			"displayName": "Ninja Clang Bench Release",
			"configurePreset": "windows-ninja-clang",
			"inherits": [
				"default-bench",
				"windows-default"
			],
			"configuration": "Release"
		},
		{
			"name": "windows-msbuild-msvc-bench-release",
			"displayName": "MSBuild MSVC Bench Release",
			"configurePreset": "windows-msbuild-msvc",
			"inherits": [
				"default-bench",
				"windows-default"
			],
			"configuration": "Release"
		},
		{
			"name": "windows-msbuild-clang-bench-release",
			"displayName": "MSBuild Clang Bench Release",
			"configurePreset": "windows-msbuild-clang",
			"inherits": [
				"default-bench",
				"windows-default"
			],
			"configuration": "Release"
		}{% endif %}
	]
}
